body {
  color: white;
  font-family: Helvetica;
  text-align: center;
}
.bg {
  background-image: url(../images/building.png);
}
.banner {
  font-size: 70px;
  font-weight: bold;
}
.btn {
  font-size: 18px;
  color: white;
}
.mid {
  color: black;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  color: black;
  font-size: 23px;
  font-weight: bold;
}
.block p{
  font-size:14px
  color: black;
}
.bg h2{
  font-size: 23px;
}
