body {
  color: white;
  font-family: Helvetica;
  text-align: center;
}
.bg {
  background-image: url(../images/building.png);
}
.banner {
  font-size: 70px;
  font-weight: bold;
}
.btn {
  font-size: 18px;
  color: white;

}
